   //time
   .ant-picker-content{
    .ant-picker-time-panel-column:nth-child(3){
      display: none;
    }
  }
  //table
  .ant-empty-normal{
    visibility: hidden;
  }
  //分页
  .ant-pagination{
    height: 100px !important;
    margin-top:0 !important;
    position: relative;
    left:70%;
  }

.together2{
  width: 100%;
  background-color: #D6e9fe;
  overflow: hidden;
  .header-account{
    position: fixed;
    z-index: 999;
  }
  .menu-header{
    margin-top:50px;
    width: 100%;
    padding:15px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    padding-top:15px;
    font-size: 15px;
    .img{
      width: 150px;
      height: auto;

      border: 1px solid grey;
      margin-right: 20px;
      img{
        width:150px;
        height: auto;
      }
  
    }
    .header-top{
      // width:55%;
      flex: 1;
      .top-time{
        display: inline-block;
        padding-right: 20px;
        font-size: 15px;
      }

    }

 

    .header_center{
      // width:45%;
      position: relative;
      top: -10px;
      .line{
        display: inline-block;
       
      }
    }
    .center_number{
      .btn{
        margin-left: 15px;
      }
    }


  }
  .pan{
      position: relative;
      background-color: #fff;
      height: 93px;
      margin: 5px 0;
      .ant-tabs-nav{
        margin-bottom: 0!important;
        padding-left: 60px;
        background-color: rgba(255, 255, 255, 1);
      }
  .search{
    width: 100%;
    height: auto;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    font-family: Roboto;
    box-sizing: border-box;
    // margin: 0;
    // margin-top: 14px;
    // padding: 0;
    .line{
      padding:10px 30px;
      // border-bottom: 1px dotted  rgba(233, 233, 233, 1);
      text-align: left;
      position: relative;
      display: flex;

    // float: left;
      span{
      display: inline-flex;
      margin-left: 0;
      }
    
    }
    p{
      color: rgba(16, 16, 16, 1);
      font-size: 14px;
      text-align: left;
      font-family: SourceHanSansSC-regular;
      display: inline-block;
      
    }
    .pic{
      // width:50px;
      text-align: right;
      margin: 0 8px 0 0;
      line-height: 32px;
      span{
        margin-left: 0;
      }
    }
  }
  
  
  }





  }
  .imgMoadl{
    .anticon-exclamation-circle{
      visibility: hidden;
  
    }
    .ant-btn:first-child{
      display: none;  
  }}
  .menu-header-right{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
  
    .header-right-data{
      display: flex;
  box-sizing: border-box;
  padding-top: 10px;
  flex-direction: row-reverse;
      .right-databox{
        flex:1;
  height: 60px;
  text-align: center;
      }
  
    }
    
  
   }
   .input_wrap{
     display: flex;
     width: 76%;
  margin:0;
   }
  
  .showTable_mobile{
    width: 100%;
    height: auto;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    font-family: Roboto;
    // margin:30px;
    margin-top: 16px;
    .table{
      display: flex;
      //  border: 1px solid grey;

    }
    input{
      width:90%;
    }
.table_left{
  // width: 10%;
  flex: 1;
  // padding:0 20px 20px 0;
  background-color: #eae9e966;
  // min-width: 200px;
  padding-top: 20px;
  .line_input{
    margin:20px 10px;
  }
  .line_input2{
    margin:10px 10px;
  }
  .product_name,.success_percent{
    text-align: center;
  }
}
.table_right{
  width: 85%;
 
  margin-left: 5px;
  // border: 1px solid grey;
  background-color: #eae9e966;
flex-wrap: wrap;
display: flex;

.table_container_left{
  width:90px;
  min-width: 90px;
  max-width: 90px;
  flex: 1;
  .tabel_type{
    width:90px;
    line-height: 180px;
    position: relative;
    top:0px;
    left:0px;
    text-align: center;
    font-size: 16px;
    p{
      margin-bottom: 0em;
    }
  }
  .tabel_type:nth-child(2), .tabel_type:nth-child(3), .tabel_type:nth-child(4) p{
    position: relative;
    top: -55px;
  }
}
.table_container{
  overflow-x: scroll;
  overflow-y: hidden;
  flex: 10;

}
  .table_head{
    height: 80px;
    // line-height: 80px;
    table {
      width: 2000px;
      text-align: left;
      border-radius: 2px 2px 0 0;
      border-collapse: separate;
      border-spacing: 0;
      padding: 0 20px;
      td{
        padding-right: 32px;        
        width:200px;
        position: relative;
    overflow-wrap: break-word;
      }
     
  }

  }
    //table
.table_line{
  height:170px;
  margin-bottom: 10px;
  position: relative;
// background-color: #fff;
  .tabel_type{
    display: inline-block;

    position:absolute;
    width: 150px;
    line-height: 180px;
    top:0px;
    left:0px;

    text-align: center;
    font-size: 16px;
  }
  .type_table{
    // margin-left:150px;
    display: inline-block;

  }
}
// .table_line:first-child{
//   height: 109px;

// }

.table_head{
  position: relative;
  line-height: 80px;
  // background-color: #d2d2d270;
  .tabel_type{
    position:absolute;
    width: 150px;
    line-height: 180px;
    top:0px;

    left:0px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
  }
  .type_table{
    // margin-left:150px;
    display: inline-block;
  }
}


}
  
  }

  .ant-pagination{
    margin: 16px 24px !important;
  }
  .ant-table-cell{
    .ant-btn{
      margin: 0 5px;
    }
  }
  .ant-table-expanded-row-fixed{
    margin-left: 20px;
  }
  .scroll{
    overflow-y: scroll;
  }
  .hidden{
    overflow-y: hidden;
  }
  .line span {
    margin-left: 0;
}

//标记
.table-color-dust {
  background-color: #2bacf7c4;
}
.table-yellow-dust{
 color:#d4c709;
 font-weight: bold;
}